<h1>Usage Document</h1>
<div>
  <a href="http://9a7840.swagger.5fpro.com/#!/JS/api_3_get_0">http://9a7840.swagger.5fpro.com/#!/JS/api_3_get_0</a>
</div>
<div>
  <h2>Selected Dist id</h2>
<script src="http://<%= Setting.host %>/select.js?html_city[name]=event[city_id]&amp;html_city[name]=event[dist_id]&amp;selected_dist_id=20"></script>
</div>

<div>
  <h2>Selected City id</h2>
<script src="http://<%= Setting.host %>/select.js?html_city[name]=news[city_id]&amp;html_city[name]=news[dist_id]&amp;selected_city_id=2"></script>
</div>

<div>
  <h2>No selected</h2>
<script src="http://<%= Setting.host %>/select.js?html_city[name]=user[city_id]&amp;html_city[name]=user[dist_id]"></script>
</div>

<div>
  <h2>All default</h2>
<script src="http://<%= Setting.host %>/select.js"></script>
</div>