<h1>API Reference</h1>
<div>
  <a href="http://9a7840.swagger.5fpro.com/#!/JS/api_3_get_0">http://9a7840.swagger.5fpro.com/#!/JS/api_3_get_0</a>
</div>
<div>
  <h2>Custom 'name' attribute + selected dist ID</h2>
<script src="http://<%= Setting.host %>/select.js?html_city[name]=event[city_id]&amp;html_city[name]=event[dist_id]&amp;selected_dist_id=20"></script>
</div>

<div>
  <h2>Custom 'name' attribute + selected city ID</h2>
<script src="http://<%= Setting.host %>/select.js?html_city[name]=news[city_id]&amp;html_city[name]=news[dist_id]&amp;selected_city_id=2"></script>
</div>

<div>
  <h2>Custom 'name' + no selected value</h2>
<script src="http://<%= Setting.host %>/select.js?html_city[name]=user[city_id]&amp;html_city[name]=user[dist_id]"></script>
</div>

<div>
  <h2>Default (no parameters)</h2>
<script src="http://<%= Setting.host %>/select.js"></script>
</div>